<!doctype html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
        <link rel="stylesheet" href="C:\Users\Bore\Desktop\petition-pronto\src\static\css\404.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Petition Pronto</title>
    </head>
    <body>
      <div id="notfound">
    		<div class="notfound">
    			<div class="notfound-404">
    				<h3>Oops! Page not found</h3>
    				<h1><span>4</span><span>0</span><span>4</span></h1>
    			</div>
    			<h2>we are sorry, but the page you requested was not found</h2>
          <a class="btn btn-outline-dark" href="/home"> Return to home</a>
    		</div>
    	</div>
    </body>
</html>
