<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>Petition Pronto</title>
    </head>
    <body>
        <form action="/change_password" method="POST" onsubmit="return validate_password()">
            <input type="password" class="form-control" name="password">
            <input type="password" class="form-control"name="confirm_password">
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Change Password">Change Password</button>
            <!-- <input type="submit" value="Change Password"> -->
        </form>
    </body>
</html>
