<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Petition Pronto</title>
    </head>
    <body>
        <form action="/change_password" method="POST" onsubmit="return validate_password()">
            <input type="password" name="password">
            <input type="password" name="confirm_password">
            <input type="submit" value="Change Password">
        </form>
    </body>
</html>
