<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Petition Pronto</title>
    </head>
    <body>
        <h1>Create Account</h1>
        <form action="/create_account" method="POST">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="text" name="department">
            <input type="text" name="role">
            <input type="submit" value="Create Account">
        </form>
    </body>
</html>
