<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="/static/css/home.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title>Petition Pronto</title>
    </head>
    <body>
        <!-- <h1>Welcome to <i>Petition Pronto</i></h1>
        <a href="/login">Login</a>
        <hr>
        <p>This is an application to rapidly submit course petition requests to faculty at Allegheny College</p> -->

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" name="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <!-- <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> IMGS</a> -->
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
    	      <ul class="nav navbar-nav">
    	     		 <ul class="nav navbar-nav navbar-right">
    	      		<li><a href="/login">Login</a></li>
    	     	</ul>
    	     </div>
          </div>
        </nav>

        <div class="container">
        	<div class="jumbotron">
        		<!-- <h1> <i class="fas fa-file-alt" aria-hidden="true"></i> </h1> -->
            <img src="C:\Users\Bore\Desktop\petition-pronto\docs\PetitonLogoTranparent.png" alt="">
            <i class="fas fa-file-alt"></i>
        		<p>A web-base petition system that allows students to upload a petition for a change in their graduation requirements.</p>
        	</div>

          <form action="/home" method="post">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="student_email" class="form-control" id="exampleFormControlInput1" required placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="student_name">Your Name</label>
              <input type="text" name="student_name" class="form-control" id="exampleFormControlInput1" required placeholder="">
            </div>
            <div class="form-group">
              <label for="petiton_description">Petition details</label>
              <textarea name="petiton_description" rows="5"  class="form-control input-lg" id="petiton_description" data-error_msg = "Please enter petition details" required></textarea>
            </div>
            <div class="form-group">
              <label for="Deparment-selection">Please select department</label>
              <select class="form-control" name="department-selection" id="exampleFormControlSelect1" required>
                <option>Computer Science</option>
                <option>Economics</option>

              </select>
            </div>
            <input type="submit" name="Upload" value="Submit Petition" class="btn btn-lg btn-success" id="bptm_external_form_submit" tabindex="8" action="">


          </form>


    </body>
</html>
