<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Petition Pronto</title>
    </head>
    <body>
        <h1>Welcome to <i>Petition Pronto</i></h1>
        <hr>
        <p>This is an application to rapidly submit course petition requests to faculty at Allegheny College</p>
    </body>
</html>
