<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Petition Pronto</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="submit" value="Log in">
        </form>
    </body>
</html>
