<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Petition Pronto</title>
    </head>
    <body>
        <h1>Petitions</h1>
        <a href="/change_password">Change Password</a>
        <br>
        <a href="/logout">Logout</a>
        {% if admin %}
        <br>
        <a href="/create_account">Create Account</a>
        {% endif %}
        <hr>
        <h2>Open Petitions</h2>
        <ul>
            {% for petition in petitions %}
            <li>Name:{{petition['name']}} | Email:{{petition['email']}} | Department:{{petition['department']}} | <a href="/petitions/{{petition['id']}}">Inspect</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
