<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Petition Pronto</title>
    </head>
    <body>
      <div class="container">


        <div class="jumbotron jumbotron-fluid">
          <h1> <i class="fas fa-file-alt" aria-hidden="true"></i>Petition Info</h1>
        </div>


        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{petition_info['name']}}</li>
          <li class="list-group-item">{{petition_info['email']}}</li>
          <li class="list-group-item">{{petition_info['department']}}</li>
        </ul>
        <div class="card">
          <div class="card-body">
            {{petition_info['content']}}
          </div>
        </div>
        <form action="/petitions/{{petition_info['id']}}" method="POST">
            <input type="checkbox" name="approved" value="approved"> Approve<br><br>
            <input type="submit" value="Submit">
        </form>
        <a class="badge badge-light btn btn-primary btn-sm"href="/petitions">Back</a>
        </div>

    </body>
</html>
